**Data** **Tyes** **and** **Structure**

1. What are data structures,and why are they important?
   - Data structures are ways of organizing, storing, and managing data in a computer so that it can be used efficiently. They define how data is arranged in memory and how operations like accessing, inserting, deleting and updating are performed

      example - array, list, dictionary etc.

2. Explain the difference between mutable and immutable data types with examples.
   - Mutable data types are those whose values can be changed after they are created without creating a new object.

In [ ]:
##Mutable Data Tyes

list1 = [1,2,3,4]
list1[2] = 21
print(list1)

[1, 2, 21, 4]

In [ ]:
## Immutable Data Types ( string, tuples)

name= "Harish"
name[2] = "s"
print(name)

TypeError: 'str' object does not support item assignment

3. What are the main difference between lists and tuples in python ?
   - List  -> Mutable (can be changed)
   - Tuple -> Immutable ( can not be changed)

In [ ]:
#List
my_list = [1,2,3,4]
my_list[2] = 21
print(my_list)

[1, 2, 21, 4]

In [ ]:
# Tuple
my_tuple = (1,2,3,4)
my_tuple[2] = 21

TypeError: 'tuple' object does not support item assignment

4. Describe how dictionaries store data.
   - A dictionary in Python is a data struture that stores data in the form of {key:value} pairs, where each key is unique and is used to access its corresponding value.

5.Why might you use a set instead of a list in Python?
   - You would use a set instead of a list when you need unique elements, faster membership checking or mathmatical set operations.

6.What is a string in python, and how is it different from a list?
  - A string in Python is a data type used to store text. it is sequence of characters enclosed in single (' '), double(" "),or triple quotes.
  - String -> Used for text, cannot be changed.
  - List -> Used for collections, can be changed

In [ ]:
## String(Immutable)
word = "Hello"
word[0] = 'h'

TypeError: 'str' object does not support item assignment

In [ ]:
## List (Mutable)

letters = ['H','e','l','l','o']
letters[1] = 'h'

7.How do tuples ensure data integrity of a list in Python?
   - Tuples ensure data integrity because they are immutables, meaning their values can not be changed after creation.

8.What is a hash table, and how does it relate to dictionaries in Python?
  - A hash tables is a data structure that stores key-value pairs using a hash funcation and dictionaries use hash tables for fast data access.

In [ ]:
student = {"name" : "Rahul", "age": 25}
print(student["name"])

Rahul

9.Can lists contain different data types in Python?
  - Yes, a list in Python can store elements of different data types.

In [ ]:
## different data types in python
list1 = [1,"Hello",3.5,True,[10,25]]
print(list1)

[1, 'Hello', 3.5, True, [10, 25]]

10.Explain why strings are immutable in Python.
   - String are immutable in Python, which means once a string is created, its contents can not be changed.
   python can reuse(intern) string in memory when they are immutable.

11.What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaried provide several advantages over lists, especially when working with key-value data and fast lookups.

In [ ]:
## Distionary    ## clear
student = {"name" : "Rahul", "age": 25}
print(student["age"])

#List                     ### less clear
["Rahul",25]

25

['Rahul', 25]

12.Describe a scenario where using a tuple would be preferable over a list.
   - A tuple is preferable over a list when storing fixed or constant data that should not be modified, such as coordinates or configuration values.

In [ ]:
my_tuple = (1,2,3,4)
my_tuple[2] = 21

TypeError: 'tuple' object does not support item assignment

In [ ]:
#List
my_list = [1,2,3,4]
my_list[2] = 21
print(my_list)

[1, 2, 21, 4]

13.How do sets handle duplicate values in Python?
   - In Python , a set is a collection that stores unique elements only.
   - duplicate values are automatically remove when elements are added to a set.

14.How does the "in" keyword work diffferently for lists and dictionaries?
   - Using in with a List
       - Checks wheather a value(element) exist in the list.
       - searches through the list elements one by one.


  - Using in with a Dictonary
       - Checks wheather a Key exist in the dictionary.
       - Does not check values by default.

In [ ]:
num = {1,2,3,4,4,5,5,5,6,6,6,9,9,10}
print(num)

{1, 2, 3, 4, 5, 6, 9, 10}

In [ ]:
## List   (values)
num = [ 10,25,35,35,14]
print(14 in num)
print(40 in num)

True
False

In [ ]:
## Dictionary  (keys)
student = {"name" : "Rahul", "age": 25}
print("name" in student)
print("Rahul" in student)

True
False

15.Can you modify the elements of a tuple? Explain why or why not.
  - Tuples are immutable, meaning their values cannot be changed after creation.

              Data type        Mutable       Allows Duplicates

              List              Yes             Yes

              Tuples            No              Yes

              Set               Yes             No
              
              Dictionary        Yes             Keys:NO

16.What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a dictionary inside another dictionary.

In [ ]:
# Using nested
student = {
    "Rahul"  : {"age": 25, "grade": "A"},
    "Harish" : {"age": 24, "grade": "B"},
}
print(student["Rahul"]["age"])
print(student["Harish"]["grade"])

25
B

17.Describe the time complexity of accessing elements in a dictionary.
   - Accessing elements in a dictionary takes O(1) time on average due to hash table implementation.


    Case               Time Complexity             Reason
    Best Case             	O(1)	             Direct hash lookup
    Average Case           	O(1)	             Minimal collisions
    Worst Case	            O(n)	             Many hash collisions (rare)

18.In what situations are lists preferred over dictionary?
   - Lists maintain the exact insertion order.
   - Useful for sequences like steps, ranking or ordered records.

    1.When Order Matters
       - Lists maintain the exact insertion order.

    2.When Data is Index-Based
       - Lists allow access using index numbers.

    3.When storing simple collections
       - Lists are better for storing simple or similar items.
          - Marks
          - Names
          - Numbers

    4.When memory efficiency is important
      - Lists usually consume less memory than dictionaries.
      - Suitable for large datasets without key-value relationships

    5.When Duplicate values are needed
      - Lists allow duplicate elements.
      - Dictionaries do not allow duplicate keys.

    6.When iteration is Main task
      - Lists are easier to loop through when only values matter.

In [ ]:
# 1 Example
steps = ["start","Process","End"]
print(steps[1])

Process

In [ ]:
# 2 Example
num = [10,20,35,45]
print(num[2])

35

In [ ]:
# 3 Example
marks = [10,20,30,40]
print(marks)

[10, 20, 30, 40]

In [ ]:
# 6 Example
items = ["apple","banana","orange"]
for item in items:
  print(item)

apple
banana
orange

19.Why are dictionaries considered unordered,and how does that affect data retrieval.
   - Dictionaries are considered unordered because data is accessed by keys, not positions, and retrieval is not dependent on order.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
   - List : Index-Based Retrieval
        - lists store elements in an ordered sequence.
        - Data is retrieved using a numberic index (position)
        - You must Know the position of the element.

   - Dictionary : Key-Based Retrieval
        - Dictionaries store data as Key-value pairs.
        - Data is retrived using a Unique key, not position.
        - Keys are meaningful and descriptive.

In [ ]:
# Examples  - List (Index-Based Retrieval)
fruites = ["apple","banana","orange"]
print(fruites[1])

banana

In [ ]:
# Examples - Dictionary(Key-based Retrieval)
dict1= {"fruit1":"apple","fruit2":"kiwi","fruit3":"orange"}
print(dict1["fruit2"])

kiwi

    Feature	                   List	                             Dictionary
    Access Method	        Index (0,1,2…)	                     Key
    Retrieval Speed	        Fast by index, slow by value	     Very fast by key
    Data Structure	        Ordered collection	                 Key–value mapping
    Use Case	            Sequential data	                     Labeled/structured data

**Practical** **Questions**

1.Write a code to create a string with your name and print it.

In [ ]:
name = "Harish Deshmukh"
print(name)

Harish Deshmukh

2.Write a code to find the length of the string "Hellow World".

In [ ]:
name = "Hello World"
print(len(name))

11

3.Write a code to slice the first 3 characters form the string "Python Programming"

In [ ]:
m = "Python Programming"
print(m[0:3])

Pyt

4.Write a code to replace the word "hello" to uppercase.

In [ ]:
m = "hello"
print(m.upper())

HELLO

5.Write a code to replace the word "apple" with "orange" in the string " I like apple".

In [ ]:
mt  = "I like apple"
new_mt = mt.replace("apple","orange")
print(new_mt)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1,2,3,4].

In [ ]:
num = [1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1,2,3,4,5].

In [ ]:
num = [1,2,3,4,5]
num.remove(3)
print(num)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a','b','c','d'].

In [ ]:
lit = ['a','b','c','d']
print(lit[1])

b

10.Write a code to reverse the list [10,20,30,40].

In [ ]:
num = [10,20,30,40,50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100,200,300 and print it.

In [ ]:
num = (100,200,300)
print(num)

(100, 200, 300)

12.Write a code to access to second to last element of the tuple ('red','green','blue','yellow')

In [ ]:
tup_1 = ('red','green','blue','yellow')
second_to_last = tup_1[-2]
print(second_to_last)

blue

13.Write a code to find the minimum number in the tuple (10,20,5,15).

In [ ]:
num = (10,20,5,15)
minimum = min(num)
print("The minimum number is :",minimum)

The minimum number is : 5

14.Write a code to find the index of the element "cat" in the tuple('dog','cat','rabbit')

In [ ]:
animals = ('dog','cat','rabbit')
index = animals.index('cat')
print(index)

1

15.Write a code to create a tuple containing three different fruits and cheak if "kiwi" is in it.

In [ ]:
fruits = ("apple","banana","kiwi")
if "kiwi" in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is in the tuple

16.Write a code to create a set with the elements 'a','b','c' and print it.

In [1]:
st = {'a','b','c'}
print(st)

{'c', 'a', 'b'}

17.Write a code to remove the elements from the set{1,2,3,4,5}

In [2]:
num = {1,2,3,4,5}
num.clear()
print(num)

set()

18.Write a code to remove the element 4 from the set {1,2,3,4}.

In [3]:
num = {1,2,3,4}
num.remove(4)
print(num)

{1, 2, 3}

19.Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.

In [4]:
a = {1,2,3}
b = {2,3,4}
intersection = a.intersection(b)
print(intersection)

{2, 3}

20.Write a code to find th union of two set {1,2,3} and {2,3,4}.

In [5]:
a = {1,2,3}
b = {2,3,4}
union = a.union(b)
print(union)

{1, 2, 3, 4}

21.Write a code to create a dictionary with the keys 'name','age','city', and print it.

In [6]:
data = {"name":"Harish","age":24,"city":"Mumbai"}
print(data)

{'name': 'Harish', 'age': 24, 'city': 'Mumbai'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {"name":"john","age": 25}

In [7]:
data = {"name":"john","age": 25}
data["country"] = "USA"
print(data)

{'name': 'john', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {"name":"Alice","age":30}

In [10]:
data = {"name":"Alice","age":30}
print(data["name"])

Alice

24.Write a code to remove the key "age" from the dictionary {"name":"Bob","age":"22","city":"New York"}

In [11]:
data = {"name":"Bob","age":"22","city":"New York"}
del data["age"]
print(data)

{'name': 'Bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary {"name":"Alice","city":"paris"}

In [12]:
data = {"name":"Alice","city":"paris"}
if "city" in data:
  print("city key exists")
else:
  print("city key not exist in the list")

city key exists

26.Write a code to create a list, a tuple,and a dictionary,and print them all.

In [15]:
## List
fruite = {"apple","banana","kiwi"}
print(f"The list of fruits : {fruite}")

# tuple
fruite_weights = (20,15,14)
print(f"The list of fruits weights : {(fruite_weights)}")

## Dictionary
fruits = {"apple":20,"banana":15,"kiwi":14}
print(f"The Original list of fruits : {fruits}")

The list of fruits : {'apple', 'banana', 'kiwi'}
The list of fruits weights : (20, 15, 14)
The Original list of fruits : {'apple': 20, 'banana': 15, 'kiwi': 14}

27.Write a code to create a list of 5 random numbers between 1 and 100,sort it in ascending order,and print the result.

In [18]:
import random
num = []
for i in range(5):
  num.append(random.randint(1,100))
num.sort()
print(num)

[2, 56, 56, 80, 86]

28.Write a code to create a list with string and print the element at the third index.

In [19]:
fruits = ["apple","banana","kiwi","orange","cherry"]
print(fruits[3])

orange

29.Write a code to combine two dictionaries into one and print the result.

In [23]:
fruits1 = {"apple":20,"banana":15,"kiwi":14}
fruits2 = {"orange":10,"cherry":24}
fruits1.update(fruits2)
print(fruits1)

{'apple': 20, 'banana': 15, 'kiwi': 14, 'orange': 10, 'cherry': 24}

30.Write a code to convert a list of string into a set.

In [24]:
fruit = [ "apple","banana","apple","orange","kiwi","kiwi"]
list_fruits = set(fruit)
print(list_fruits)

{'apple', 'orange', 'banana', 'kiwi'}